*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;

    box-sizing: border-box;
}
body{
    background:black;   
    color: #fff;  
    /* border-bottom:2px red groove; */
   
   
}   

html{
    scroll-behavior: smooth;
}
#header{
    width: 100%;
    height: 100vb;
    background-image: url(pics/d268875b-d8ab-4fda-b1f5-2cdb2a9a20ba_2k\ \(1\).png);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 30px 2%; 
}
nav ul li{
    display: inline-block;
    list-style-type:none;
    margin: 5px 20px; 
    transition:0.2s;
    font-weight: light;

}
nav ul li a{
    color: #fff;
    text-decoration: none; 
    font-size: 22px;
    
    position: relative;  
}
nav ul li:hover{
    font-weight: bold;
    transform:translateX(8px)
    
}
nav ul li a::after{  
    content: '';
    width: 0%;
    height: 3px;
    background : #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;

     transition: 0.6s;
}
nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 5%;
    margin-left: 5%;
    font-size: 25px;
}
.header-text p{
    margin-top: 10%;
    margin-left: 64%;
    font-size: 53px;
    animation: colorchange2 6s infinite;
}
.header-text span{
    animation: colorchange 6s infinite;
 

}
@keyframes colorchange {
    0%,100% {
        opacity: 1;
    }
    16.66% {
        opacity: 1;
    }
    33.33% {
        color: #ffff;
    }
    50% {
        opacity: 1;
    }
    66.66% {
    }
    83.33% {
        opacity: 1;
    }

    
}
.header-text h1 {
    margin-top: 3%;
    margin-left: 4%;
    font-size: 110px;
    position: relative;
    display: inline-block;
}

.header-text h1::before {
    content: "Bonjour!";
    font-weight: 900;
    position: absolute;
    color: #ff004f;
    animation: languageTransition 6s infinite;
}
@keyframes languageTransition {
    0%,100% {
        opacity: 1;
    }
    16.66% {
        opacity: 1;
    }
    33.33% {
        content: "Hello!";
        color: #fff;
    }
    50% {
        opacity: 1;
    }
    66.66% {
        content: "Hola!";
    }
    83.33% {
        opacity: 1;
    }
}

.header-text p span{
    color: #ff004f;

}
/* about starts here */
#about{
    padding: 30px 0px;
    margin-top: 2%;

}
.col2 span{
    color: #ff004f;
}

.row{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
  
}
.col1{
    flex-basis: 25%; 
    background-color:#ff004f;
    border-radius: 80px;
    height: 575px;
    width: -100px;


}
.col1 img{
    margin-left:0% ;
    width: 460px;
    height: 575px; 
    border-radius: 80px;
    transition: 0.3s;
}
.col1 img:hover{
    transform: translateY(-15px);

}
.col2{
    flex-basis: 56%;
}
.col2 .heading{
    font-size: 46px;
    font-weight: bold;


}
.col2 p{
    font-size: 22px;
    margin-top: 2%;
    transition: 0.3s;
}
.col2 p:hover{
    transform: scale(1.1);
    font-weight: bold;
}
.tabless{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 30% auto;  
    /* grid-template-columns: repeat(autofit,minmax(250px,300px)); */
    grid-gap: 30px;
}
.tabless .skills{
    font-size: 28px;
    font-weight: bold;
    border: #ff004f 2px groove;
    padding-left:33%;
    border-radius: 50px;


}

.tabless .education{
    font-weight: bold;
    font-size: 28px;
    border: #ff004f 2px groove;
    padding-left:33%;
    border-radius: 50px;

}
.sc{
    font-size:22px;
    list-style: none;
    padding-left: 10px;
   
}



.sc img{
    transition: 0.3s;
    margin-bottom: 12%;
    margin-right: 5%;

}
.sql {
    margin: 10px;

    
}
.sc img:hover{
    transform: scale(1.7);
}
.sc .js{
    margin-left: -5%;
}
.ec{
    font-size: 22px;
    list-style: none;
    padding-left: 20px;
}
.ec li{
    padding-bottom: 20px;
    transition: 0.3s;
}
.ec li:hover{
    transform: scale(1.1);
    font-weight: bold;
}

/* portfolio */
#portfolio{
    padding: 25px;
    
}

.title4portfolio{
    font-size: 46px;
    font-weight: bold;
    margin-left: 42%;
}
.title4portfolio span{
    color:#ff004f;
}
.workdone{
    margin-top: 5%;
    margin-left: 0%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 65px;

}
.work h1{
    font-size: 32px;
}
.work{
    border-radius:70px ;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    display: block;
    transition: 0.6s;
}
.work img:hover{
    transform: scale(1.3);
}
.info span{
    margin: 0%;
    
    color:rgb(121, 121, 240);
    opacity: 100;
   
}
.info a{
    margin-top: 5%;
    background: #fff;
    width: 50px;
    height: 50px;
    padding-top: 4%;
    border-radius: 50px;
    transition: 0.3s;
}
.info a:hover{
    transform: translateY(-8px);
    background: black;
}
.info .ancor{
    margin-top: 5%;
}
.info .w{
    color:white;
    opacity: 100;
    font-size:18px;
    text-align: center;

}
.info p{
    margin-top: 8%;
    font-weight: 600;
    

}
.info{
    background: linear-gradient(rgba(6, 6, 6, 0.954),#f70652);  
    
    width: 100%;
    height: 0%;
    border-radius:70px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: 0.4s;
   
}
.work:hover .info{
   
    height: 100%;
    opacity: 92%;
}

/* connect */
#feedback{
    color: #f70652;
    margin-left: 41%;
    font-size: large;
    font-weight: bold;
    display: block;




}
#contact{
    margin-top: 3.5%;
}

.connectsocial{
    flex-basis: 30%;
    margin-right: 6%;
}
.connectsocial p{
    margin-top: 10%;
    margin-bottom: -5%;
    font-size: 24px;
    /* margin-right: 2%; */
}
.connectsocial p i{
    color: #ff004f;
    font-size: 32px;
}
.connectsocial .socialareas{
    margin-top: 13%;
     
}
.socialareas a{
    font-size: 30px;
    text-decoration: none;
    display: inline-block;
    margin-right: 5%;
    color: #fff;
    transition: 0.3s;
}
.socialareas a:hover{
    transform: translateY(-8px);
    color: #ff004f;
}
.connectsocial h1{
    margin-top: 10%;
    font-size: 40px;
}
.connectsocial .SS{
    font-size: 40px;
    color: #fff;
    animation-name: effect;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
.connectsocial .o{
    font-size: 40px;
    color: #ff004f;
    animation-name: effect1;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;

}
@keyframes effect{
    0%,100% {
        opacity: 1;
    }
    50%{
        color:#ff004f;
    }
    80%{
        opacity: 1;

    }

    
}
@keyframes effect1{
    0%,100% {
        opacity: 1;
    }
    50%{
        color:#fff;
    }
    80%{
        opacity: 1;

    }

    
}
.connectform{
    flex-basis: 59%;
    margin-top: 2%;
}
.connectform form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: none;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    font-size: 22px;
    font-weight: bold;
    border-radius: 15px;
    color:#fff;

    }
button{
    margin-top: 2%;
    border: none;



    }
.su{ 

    padding: 14px 60px;
    position: absolute;
    border-radius: 15px;
    margin-left: -12%;
    margin-top: 15%;
    background-color: #ff004f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;

}
.re{
    position: absolute;
    padding: 14px 60px;
    border-radius: 15px;
    margin-left: -56.8%;
    margin-top: 15%;
    background-color: #ff004f;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.2);
}
.copyright{
    width: 100%;
    margin-top: 6%;
    text-align: center;
    padding: 10px;  
    background: black;

}
.copyright p{
    font-size: 16px;
    font-weight: bold;
}
.copyright span{
    color: #ff004f;
}

/*------------------------------------------------- css for small screen  ------------------------------------*/
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
    #header{
        /* background-image: url("pics/WhatsApp\ Image\ 2023-12-26\ at\ 19.49.52_489764d5-removebg-preview\ \(1\).jpg"); */
        background-image: url("pics/WhatsApp\ Image\ 2023-12-26\ at\ 19.49.52_489764d5-removebg-preview\ \(1\).png");
        margin-top: 0%;
    }
    .header-text p{
        margin-top: -221px;
        margin-right: -14px;
        margin-left: 261px;
        font-size: 20px;
    }
    .header-text h1{
        font-size: 32.5px;
        /* z-index: 100; */
        margin-top: 96%;
    }
    .header-text h1::before {
        content: "Bonjour!";
        font-weight: 900;
        margin-top: -157px;
        margin-left: -26px;
        font-size: 32px;
        color: #ff004f;
        animation: languageTransition 6s infinite;
    }
    
    @keyframes languageTransition {
        0%,100% {
            opacity: 1;
        }
        16.66% {
            opacity: 1;
        }
        33.33% {
            content: "Hello!";
            color: #fff;
        }
        50% {
            opacity: 1;
        }
        66.66% {
            content: "Hola!";
        }
        83.33% {
            opacity: 1;
        }
    }

    nav .fa-solid{
        display: block;
        font-size: 30px;
    }
    .fa-bars{
        margin-left: 5%;
        margin-top: -1%;
        /* font-size: 22px; */

    }
    nav ul{
        position: fixed;
        top: 0;
        left: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 40px;
        background:#ff004f;
        z-index: 3;
        font-size: 30px;
        transition: 0.3s;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;

    }

    /* for about  */
    .col1 img{
        width: 333px;
        height: 405px;
        border-radius: 50px;
        /* background-color: #ff004f; */
        
    }
    .col1{
        flex-basis: 35%; 
        background-color: red;
        border-radius: 60px;
        
        /* height:400px ; */
        height: 418px;
        width: 332px;
        animation: led 4s infinite;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    
    
    }
    .col1 img:hover{
        transform: translateY(0px);
    }
    @keyframes led{
        0%,100% {
            opacity: 1;
        }
        50%{
            background-color:#fff;
        }
        80%{
            opacity: 1;
    
        }
    
        
    }
    .col2{
        flex-basis: 60%;
        margin-top: 7%;
    }
    .col2 p{
        margin-top: 8%;
        font-size: 22px;
    }
    .tabless{
        margin-top: 15%;
    }
    .tabless .skills{
        flex-basis: 100%;
        font-size: 23px;
        padding: 16%;
        
    }

    .tabless .education{
        font-size: 23px;
        padding: 8%;
        padding-left: 19%;
    
    }
    .sc img{
        margin-bottom: 25%;
    }
    .sc img:hover{
        transform: scale(1.5);
    }
     .html{
        margin-left: -10px;
    }
    .sql{
        margin-left: 1px;
    }
    .cpp{
        margin-left: 5px;

    }
    .ec{
        font-size: 23px;
    }

    /* portfolio */

    .title4portfolio{
        margin-left: 20%;
    }
    
    .info .w{
        font-size: 13px ;
    }
    .info h1{
        font-size: 30px;
    }
    .info a{
        margin-top: 10%;
        background: #fff;
        width: 50px;
        height: 50px;
        padding-top: 6%;
        border-radius: 45px;
        transition: 0.3s;
    }
    .workdone{
        margin-top: 10%;
    }
    .row{
        /* margin-right: -9%; */
        margin: 7%;
    }
    form{
        flex-basis: 100%;
        margin-top: 5%;
    }
    form input{
        width: 100%;
        font-size: 17px;
        
    }
    form textarea{
        font-size: 17px;
    }
    .connectsocial{
        flex-basis: 100%;
    }
    .connectsocial p{
        font-size: 18px;
    }
    .connectform{
        flex-basis: 100%;
    }
    .copyright p{

        font-size: 13px;
    }
    button{
        margin-top: 2%;
    
    }
    .su{
    padding: 10px 20px;
    position: absolute;
    border-radius: 15px;
    margin-left: -23%;
    margin-top: 57%;
    background-color: #ff004f;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
    
    }
    .re{
        position: absolute;
        padding: 10px 20px;
        border-radius: 15px;
        margin-left: -82.8%;
        margin-top: 57%;
        background-color: #ff004f;
        color: #fff;
        font-size: 15px;
        font-weight: bold;
        transition: 0.5s;
        cursor: pointer;
    }
    .copyright{
        margin-top: 10%;
    }
    #feedback{
        color: #f70652;
        margin-left: 33%;
        font-size: medium;
        font-weight: bold;
        display: block;
    
    
    
    
    }
}